#timer {
	position: relative;
	font-size: 500%;
	color: #FF0000;
	vertical-align: middle;
	padding: 20px;
	top: 200px;
}

#infoRound {
	position: relative;
	font-size: 300%;
	color: #3225E4;
	vertical-align: middle;
	padding: 20px;
	top: 200px;
}

#infoExercise {
	position: relative;
	font-size: 400%;
	color: #3225E4;
	vertical-align: middle;
	padding: 20px;
	top: 200px;
}

#timetext {
	position: relative;
	font-size: 200%;
	vertical-align: middle;
	top: 200px;
}

#banner {
	background: #E6E2AF;
	text-align: center;
}

#start {
	position: relative;
	right: 10px;
	top: 200px;
}

#stop {
	position: relative;
	left: 10px;
	top: 200px;
}

#setUp {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	right: 20px;
}

.time {
	background: transparent;
	position: relative;
	top: 150px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border-radius: 0;
	height: 34px;
	border-color: #A0A0A0;
}

.timeLabel {
	position: relative;
	top: 150px;
}